# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.sqlite3
*.db

# Virtual environment
venv/
ENV/
env/
*.egg-info/

# Data
data/
*.csv
*.pkl
*.h5
*.joblib

# Jupyter
.ipynb_checkpoints/

# macOS
.DS_Store

# Logs
*.log
naive_bayes_loan_model.pkl
naive_bayes_loan_model.pkl
